html,body{
    background: grey;
    padding: 0;
    margin: 0;
}

body{
    background: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#test{
    background:aqua;
    width: 30rem;
    padding: 4rem;
    text-align: center;
}

h1{
    color: black;
    font-size: 3rem;
    text-align: center;
    padding: 2px 0;
}

#pregunta{
    font-size: 1.7rem;
    color: black;
}

.button{
    background-color: chocolate;
    color: white;
    width: 250px;
    font-size: 20px;
    border-radius: 0 3rem;
    padding: 10px 20px;
    margin: 10px 40px 10px;
    outline: 0;
}

.button:hover{
    cursor: pointer;
    background-color: cyan;
}

#progreso{
    font-size: 20px;
}